<h1>MEET THE<br>CREW</h1>

<div class="horizontal-scroll-content">
  <ul #listOfActors>
    
    <li [style.marginLeft.px]="leftMargin">
      VERONIKA SARDIKO<br>
      The Author, Artistic Director & Choreographer of “The Watchmaker” show.<br>
      <p>
        Veronika is a dance teacher and choreographer with a Bachelor of Arts obtained in Latvia. 
        In September 2012 she founded MyArt  Dance and Art School in Dublin. She prides herself 
        in her major achievements: creating  “The Winter Garden” Ballet (Latvia, May 2012), creating 
        and setting up dances and organising annual dance shows of her students (most recent: June 6, 
        2016, Smock Alley), and participating with her students in multinational culture festivals 
        and Dublin city dance events.
      </p>
    </li>
    
    <li>
        ERNESTAS PUTELIS<br>
        “Watchmaker”<br>
        
        <p>
          Ernestas began dancing around 1999 in the styles of Breakdance, Electric Boogie and Hip-Hop.<br>
          In 2000 and 2001, he won first place in Lithuania in the Up-style Breakdance (a style that 
          is now well known as Popping) category. Having danced professionally for several years, he 
          took a hiatus from dance to begin other work. In 2008 he returned to dance, exploring many 
          other dance styles, but his heart lies with the Popping style.  
        </p>
    </li>

    <li>
        ALEKSANDRA BILGIC<br>
        “Citizen” & “Clock Fairy”<br>
        <p>
            I am on stage since early age, since my 20's. I have dedicated myself to classical and oriental 
            dance, representing my country, Poland, at European and World Championships and other 
            international dance festivals and competitions for the past 9 years.
        </p>
    </li>

    <li>
        DUYGU TARHAN<br>
        “Citizen”<br>
        <p>
            Born in Turkey and dancing since a very early age. For the past 10 years, has been trained in 
            classical ballet and performed a variety of works. Also, teaching ballet for 6 years to a wide 
            range of level and age groups.
        </p>
    </li>

    <li>
        MARIA DE LA PAZ<br>
        “Citizen” & “Clock Fairy”<br>
        <p>
            Born in Buenos Aires in 1975. As a performer, I do dance as my favourite training. I had done 10 
            years of ballet since the age of 6. After a 14 years’ break came back to dance through Contemporary 
            thanks to such great  teachers as Francecs Bravo and Jaime Urciuli in Madrid and here, in Ireland, 
            Veronika Sardiko, Marian Rinbon, Catherine Young, Cathy Coughlan.
        </p>
    </li>

    <li>
        HILARY BOWEN-WALSH<br>
        “Citizen” & “Clock Fairy”<br>
        <p>
            Hilary trained in dance with Mary MacDonagh and Steffen Jorgenson and at the Université Sorbonne-Nouvelle 
            in Paris. She has danced choreography by  Liz Roche at the National Youth Theatre and performed at the 
            Everyman Palace Theatre in Cork in many dance shows. Other credits include ballet and choreography in 
            the short film 'The Betrayal', and as Salome with Splódar Theatre company.
        </p>
    </li>

    <li>
        HINATA HALLINAN<br>
        “Citizen” & “Lovers’ Duet”<br>
        <p>
            Born in Tokyo, Japan, Hinata started her dance training at the age of 3. She has been performing on many 
            stages and now is happy to be back on stage with MyArt.
        </p>
    </li>

    <li>
        HEIDY SUWIDJI<br>
        “Citizen” & “Clock Fairy”<br>
        <p>
            Coming from family of dancers, Heidy has been dancing since the age of three, mainly training in classical 
            ballet. While she now spends her days working in the investment management industry, Heidy continues to 
            dance. Her most recent work includes performances with Dublin based dance company, Le Cheile, while she 
            also dabbles in aerial and pole dance.
        </p>
    </li>

    <li>
        SARAH MCKENNA BARRY<br>
        “Citizen”<br>
        <p>
            As a teenager, Sarah trained with Hilde Van Den Bergh in her ballet school in North Dublin, before she 
            began performing in festivals in the city. In 2014, she trained with Frederic Lazzarelli in the Centre 
            de Danse du Marais in Paris. In 2015 she joined Le Cheile Dance Company and performed with them in Lille 
            in 2016, and Lisbon in 2018.
        </p>
    </li>

    <li>
        AZIZ TIMITAR (AZIZ ZIHI)<br>
        “Shadow Spirit” & “Party Boy”<br>
        <p>
            Aziz has been a dancer of the Popping style for many years with some background in theatre. 
            His inspiration comes mostly from the Boogaloo and the Popping dance styles. Born and raised in France, 
            like many boys born in 87, he was a big fan of Michael Jackson who first inspired him to dance.<br>
            After seeing the internationally renowned French dancer Bruce Ykanji dance in the video for Mis-Teeg's "Scandalous " he told himself - "Do it"!
        </p>
    </li>

    <li>
        JACEK ARMSTRONG SNOCHOWSKI (BBOY ARMSTRONG)<br>
        “Shadow Spirit”, “Lovers’ Duet” & “The Watchmaker Helper”<br>
        <p>
            Jacek is complete B-Boy dedicated to versatility and originality. His style is a combination of 
            power moves with footwork elements and air freezes. Jacek has been dancing since 1999. With many 
            achievements to his belt, his most important prize was winning the most prestigious breakdance 
            competition in Ireland, Red Bull Bc One. He is also one of the top B-boys in Poland where he is from.
        </p>
    </li>

    <li>
        DYLAN JOSEPH CHAPMAN<br>
        “Shadow Spirit” & “Mirror Duet”<br>
        <p>
  
        </p>
    </li>

  </ul>

</div>

<div class="arrows-navigation">
  
  <div class="social-wrapper">
    <span>FOLLOW THE WATCHMAKER</span>
    <i class="instagram"></i>
    <i class="facebook"></i>
  </div>

  <div class="buttons-wrapper">
    <button class="arrow-btn left" (click)="scrollText('left')"></button>
    <button class="arrow-btn right" (click)="scrollText('right')"></button>
  </div>

</div>