/* ---------- OpenSans -----------*/

@font-face {
    font-family: "OpenSansLight";
    src: url(/assets/fonts/Open_Sans/OpenSans-Light.ttf)
}
@font-face {
    font-family: "OpenSansRegular";
    src: url(/assets/fonts/Open_Sans/OpenSans-Regular.ttf)
}

@font-face {
    font-family: "OpenSansBold";
    src: url(/assets/fonts/Open_Sans/OpenSans-Bold.ttf)
}


/* --------- Montserrat ----------*/

@font-face {
    font-family: "MontserratThin";
    src: url(/assets/fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: "MontserratExtraLight";
    src: url(/assets/fonts/Montserrat/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: "MontserratLight";
    src: url(/assets/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: "MontserratRegular";
    src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratMedium";
    src: url(/assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url(/assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "MontserratBold";
    src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "MontserratBlack";
    src: url(/assets/fonts/Montserrat/Montserrat-Black.ttf);
}