$font-thin: "MontserratThin";
$font-extralight: "MontserratExtraLight";
$font-light: "MontserratLight";
$font-regular: "MontserratRegular";
$font-semibold: "MontserratSemiBold";
$font-bold: "MontserratBold";
$font-black: "MontserratBlack";

$mediaXL: 1401;
$mediaL: 1400px;
$mediaM: 960px;
$mediaMS: 768px;
$mediaS: 480px;

$color-purple-dark: #A634D5;
$color-purple-light: #C73EFF;